.wrapper {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.logo txt {
  font-family: Arial, sans-serif;
}

.logo a {
  display: block;
}

.header nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.header li {
  display: none;
  margin: 0;
  padding: 20px;
  font-size: 1.5rem;
}

.header li a {
  color: white;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.header li a:hover {
  color: var(--qwik-light-orange);
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
